# Custom firewall rules go here.
# The main drawback from the firewall set up via GUI is that it does not easily support forwarding on specific ports, thus this file.
#

#Open this ports for routing between clients and backbone.
OpenPorts='{{OpenPorts}}'

#Creating a variable for each interface on the backbone zone
{% for key,value in interfaces.iteritems() %}
{% if value.type is equalto 'backbone' %}IFBackbone{{value.interface}}='{{value.interface}}'
{% endif %}
{% endfor %}

# Open up Clients <-> Backbone routing.
{# Add rules as needed. #}
{% for key,value in interfaces.iteritems() %}
{% if value.type is equalto 'backbone' %}
iptables -A FORWARD -i "\$IFBackbone{{value.interface}}" -p tcp -m multiport --dport "\$OpenPorts" -j ACCEPT

{% endif %}
{% endfor %}