config defaults
	option input 'DROP'
	option output 'DROP'
	option forward 'DROP'

config include
	option path '/etc/firewall.user'

# Clients Zone #
config zone
	option name 'Clientes'
	option family 'ipv4'
	option network '{% for key,value in interfaces.iteritems() %}{% if value.type is equalto 'client' %}{{ key }} {% endif %}{% endfor %}'
	option forward 'DROP'
	option input 'DROP'
	option output 'DROP'

# Backbone Zone #
config zone
	option name 'backbone'
	option family 'ipv4'
	option network '{% for key,value in interfaces.iteritems() %}{% if value.type is equalto 'backbone' %}{{ key }} {% endif %}{% endfor %}'
	option input 'DROP'
	option output 'DROP'
	option forward 'DROP'

# Management interface Zone #
config zone
	option name 'Management'
	option family 'ipv4'
	option network '{% for key,value in interfaces.iteritems() %}{% if value.type is equalto 'management' %}{{ key }} {% endif %}{% endfor %}'
	option input 'DROP'
	option forward 'DROP'
	option output 'DROP'

### Firewall Rules ###
# Allow ICMP traffic over Management zone #
config rule
	option name 'PING out MGM'
	option family 'ipv4'
	option proto 'icmp'
	option dest 'Management'
	option dest_ip '{{MgmNetwork}}'
	option target 'ACCEPT'

config rule
	option name 'PING in MGM'
	option family 'ipv4'
	option proto 'icmp'
	option src 'Management'
	option src_ip '{{MgmNetwork}}'
	option target 'ACCEPT'

# Allow Ping for monitoring (ie: Zabbix) #
config rule
	option name 'PING out Monitor'
	option family 'ipv4'
	option proto 'icmp'
	option dest 'Management'
	option dest_ip '{{MonitorIP}}'
	option target 'ACCEPT'

config rule
	option name 'PING in Monitor'
	option family 'ipv4'
	option proto 'icmp'
	option src 'Management'
	option src_ip '{{MonitorIP}}'
	option target 'ACCEPT'
	
#This rule will repeat for each interface on Management zone.
{% for key,value in interfaces.iteritems() %}
{% if value.type is equalto 'management' %}
# Allow SSH Traffic #
config rule
	option name 'SSH over MGM on {{value.interface}}'
	option family 'ipv4'
	option proto 'tcp'
	option dest_ip '{{ value.ip }}'
	option dest_port '{{SSHPort}}'
	option extra '-m conntrack --ctstate NEW,ESTABLISHED'
	option src 'Management'
	option src_ip '{{MgmNetwork}}'
	option target 'ACCEPT'

config rule
	option name 'SSH out MGM on {{value.interface}}'
	option family 'ipv4'
	option proto 'tcp'
	option dest 'Management'
	option dest_ip '{{MgmNetwork}}'
	option extra '-m conntrack --ctstate ESTABLISHED'
	option src_port '{{SSHPort}}'
	option target 'ACCEPT'

# Allow traffic for the management web over the management zone. #
config rule
	option name 'Web Adm over MGM on {{value.interface}}'
	option family 'ipv4'
	option proto 'tcp'
	option dest_ip '{{ value.ip }}'
	option dest_port '{{ WebPort }}'
	option src 'Management'
	option src_ip '{{MgmNetwork}}'
	option target 'ACCEPT'

config rule
	option name 'Web Adm out MGM on {{value.interface}}'
	option family 'ipv4'
	option proto 'tcp'
	option dest 'Management'
	option dest_ip '{{MgmNetwork}}'
	option src_ip '{{ value.ip }}'
	option src_port '{{ WebPort }}'
	option target 'ACCEPT'
{% endif %}
{% endfor %}